.auth__input_email{
    width: 358px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    border: none;
    background-color: black;
    border-bottom: 1px solid white;
    padding: 0 0 13px 0;
    color: white;
}