.profile {
    display: flex;
    justify-content: space-between;
    padding: 36px 0 51px;
    
}
@media screen and (max-width: 900px){
.profile {
    margin: 0 19px;
}
}

@media screen and (max-width: 780px){
    .profile {
       
        padding-bottom: 36px;
    }
    }

    @media screen and (max-width: 630px){
        .profile {
           flex-direction: column;
            padding-bottom: 36px;
        }
        }