.auth__button{
    width: 358px;
    height: 50px;
    margin: 30px auto 0;
    background-color: white;
    color: black;
    border-radius: 2px;
    padding: 0;
    border: 0;
    font-size: 18px;
line-height: 22px;
}