@import url(./blocks/main/main.css);

@import url(./vendor/normalize.css);
@import url(./fonts/Inter/inter.css);

@import url(./blocks/sign/sign.css);
@import url(./blocks/sign/__button/sign__button.css);
@import url(./blocks/sign/__field/sign__field.css);
@import url(./blocks/sign/__form/sign__form.css);
@import url(./blocks/sign/__input/_email/sign__input_email.css);
@import url(./blocks/sign/__input/_password/sign__input_password.css);
@import url(./blocks/sign/__input/_error/sign__input_error.css);
@import url(./blocks/sign/__input/sign__input.css);
@import url(./blocks/sign/__login_link/sign__login_link..css);
@import url(./blocks/sign/__register/sign__register.css);
@import url(./blocks/sign/__title/sign__title.css);


@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__delete/elements__delete.css);
@import url(./blocks/elements/__delete/_active/elements__delete_active.css);
@import url(./blocks/elements/__card/elements__card.css);
@import url(./blocks/elements/__likes-number/elements__likes-number.css);
@import url(./blocks/elements/__number-like/elements__number-like.css);
@import url(./blocks/elements/__like/elements__like.css);
@import url(./blocks/elements/__like/_active/elements__like_active.css);
@import url(./blocks/elements/__mask-group/elements__mask-group.css);
@import url(./blocks/elements/__sight/elements__sight.css);
@import url(./blocks/elements/__text/elements__text.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__block-user/header__block-user.css);
@import url(./blocks/header/__block-user/_hidden/header__block-user_hidden.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__link/header__link.css);

@import url(./blocks/page/page.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__button/_inactive/popup__button_inactive.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__edit-text/popup__edit-text.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_form-about/popup__input_form-about.css);
@import url(./blocks/popup/__input/_form-name/popup__input_form-name.css);
@import url(./blocks/popup/__input/_form-error/popup__input_form-error.css);
@import url(./blocks/popup/__opened/popup__opened.css);
@import url(./blocks/popup/__preview/popup__preview.css);
@import url(./blocks/popup/_shadow/popup_shadow.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__tooltip-icon/popup__tooltip-icon.css);
@import url(./blocks/popup/__tooltip-text/popup__tooltip-text.css);

@import url(./blocks/error/error.css);

@import url(./blocks/error/__active/error__active.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__user/profile__user.css);
@import url(./blocks/profile/__avatar-border/profile__avatar-border.css);
@import url(./blocks/profile/__avatar-edit/profile__avatar-edit.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__button/profile__button.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__info-about/profile__info-about.css);
@import url(./blocks/profile/__info-name/profile__info-name.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/body/body.css);
